:root {

    /* Colors: */
    --unnamed-color-00201d80: #00201D80;
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-00201d: #00201D;
    
    /* Font/text values */
    --unnamed-font-family-acumin-pro-extracondensed: Acumin Pro ExtraCondensed;
    --unnamed-font-family-okta-neue: Okta Neue;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-600: 600px;
    --unnamed-font-weight-bold: bold;
    --unnamed-font-size-20: 20px;
    --unnamed-font-size-30: 30px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-line-spacing-40: 40px;
    --unnamed-line-spacing-65: 65px;
    --unnamed-text-transform-uppercase: uppercase;
    }
    
    /* Character Styles */
    .unnamed-character-style-1 {
    font-family: var(--unnamed-font-family-acumin-pro-extracondensed);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-30);
    line-height: var(--unnamed-line-spacing-65);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-00201d80);
    text-transform: var(--unnamed-text-transform-uppercase);
    }
    .unnamed-character-style-2 {
    font-family: var(--unnamed-font-family-acumin-pro-extracondensed);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-30);
    line-height: var(--unnamed-line-spacing-65);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-00201d);
    text-transform: var(--unnamed-text-transform-uppercase);
    }
    .unnamed-character-style-3 {
    font-family: var(--unnamed-font-family-okta-neue);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-20);
    line-height: var(--unnamed-line-spacing-40);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-4 {
    font-family: var(--unnamed-font-family-okta-neue);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-20);
    line-height: var(--unnamed-line-spacing-40);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-00201d80);
    }



    @font-face {
        font-family: "acumin";
        src: url("./font/light.otf") format("opentype"),

      }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background: var(--unnamed-color-00201d) 0% 0% no-repeat padding-box;
    background: #00201D 0% 0% no-repeat padding-box;
    opacity: 1;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    margin-top: 7%;
    font-family:acumin-pro, sans-serif;
 
   
    
}

 .center{
width: 40% !important;
overflow: hidden;
}

.carbons, .power{
    width: 30% !important;
}

.main{
    width: 85%;
    margin:auto;
    display: flex;
    margin-top: 100px;
}

.heading_carbons{
    text-align: left;
    letter-spacing: -5.16px;
    color: #49E587;
    text-transform: uppercase;
    opacity: 1;
    display: inline-block;
    font-size: 80px;
    font-family: acumins-pro, sans-serif;
    transform: scale(1, 1.5);
}



.sub_heading{
    color: #FFFFFF;
    font-size: 40px;
    transform: scale(1, 1.5);
    margin-top: 20px;
}

.heading p{
text-align: center;
letter-spacing: 41.5px;
font-size: 30px;
color: #FFFFFF;
text-transform: uppercase;
opacity: 1;
font-weight: 100;
transform: scale(1, 2);
}


.description{
    color: #ffffff;
    margin-top: 30px;
}


.equivalent_box{
    background-color: #ffffff;
    border-radius: 10px;
    width: 100% !important;
    padding: 20px 20px;
    margin-top: 15px;
}

.equivalent_box h2{
    font-size: 30px;
    letter-spacing: -2.16px;
}
.equivalent_box p{
    color: rgba(0,0,0,0.6);
    font-weight: 600;
    margin-top: -5px;
}

.equivalent{
    margin-top: 30px;
    width: 100% !important;
}


.center h2{
    font-size: 600px;
    transform: scale(1, 1.5);
    margin-top: -200px;
    text-align: center;
    color: rgb(28,60,57);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255,255, 255,0.3);}

.power_generated{
    text-align: left;
    letter-spacing: -5.16px;
    color: #49E587;
    text-transform: uppercase;
    opacity: 1;
    display: inline-block;
    font-size: 60px;
    transform: scale(1, 1.5);
}


.head_power{
    color: #FFFFFF;
    font-size: 26px;
    transform: scale(1, 1.5);
    margin-top: 20px;
}


.box{
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 15px;
    width: 33%;
    padding: 30px 20px;
    position: relative !important; 
    justify-content: space-between;
}

.vertical{
    font-size: 40px;
    letter-spacing: -2.16px;
    text-orientation: upright;
    transform: rotate(-270deg);
    color: #fff;
    font-weight: bold;
}
.box p{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    letter-spacing: normal;
}

.power_boxes{
    margin-top: 10px;
    width: 100% !important;
    display: flex;
    gap:10px;
    align-items: end;
}



.box1 p{
    width: 200px;
    
}

.box2 p{
    width: 300px;
}

.box3 p{
    width: 400px;
}


.box1{
    height: 250px;
    background: #49E5D5 0% 0% no-repeat padding-box;

    
}

.box2{
    height: 350px;
    background: #49E5B6 0% 0% no-repeat padding-box;

}

.box3{
    height: 400px;
    background: #49E587 0% 0% no-repeat padding-box;
}